<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.DataDAO">

	<select id="medicineList" resultType="MedicalDTO">
		SELECT * FROM medicalList
		WHERE medical_category='약';

	</select>
	<select id="inspectionList" resultType="MedicalDTO">
		SELECT * FROM medicalList
		WHERE medical_category='검사';

	</select>
	<select id="vaccineList" resultType="MedicalDTO">
		SELECT * FROM vaccine;

	</select>
	<select id="petTypeList" resultType="petTypeDTO">
		SELECT * FROM petType;

	</select>
	<insert id="mediAdd" parameterType="HashMap">

		INSERT INTO medicalList
		SET
		medical_name=#{medical_name},
		medical_price=#{medical_price},
		medical_category=#{medical_category};

	</insert>
	<insert id="vaccineAdd" parameterType="HashMap">

		INSERT INTO vaccine
		SET
		vac_name=#{vac_name},
		vac_price=#{vac_price},
		vac_cycleY=#{vac_cycleY},
		vac_cycleM=#{vac_cycleM},
		vac_cycleW=#{vac_cycleW};

	</insert>
	<insert id="petTypeAdd" parameterType="HashMap">
		INSERT INTO petType
		SET
		type_name=#{type_name};

	</insert>
	<delete id="petTypeDel" parameterType="Integer">
		DELETE FROM petType
		WHERE
		type_no =#{type_no};
	</delete>


</mapper>