<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.clinic.dao.StaffDAO">

	<select id="login" parameterType="StaffDTO" resultType="StaffDTO">
		SELECT COUNT(*) as count, staff_name, staff_grade, staff_logintry
		FROM staff
		WHERE
		(staff_id = #{staff_id } AND staff_pw = #{staff_pw })
		OR
		(staff_email = #{staff_email } AND staff_pw = #{staff_pw })
	</select>
	<!-- 
	<update id="logintry" parameterType="StaffDTO">
		UPDATE staff
		SET
		<choose>
			<when test="staff_logintry == 0">
				staff_logintry = 0
			</when>
			<otherwiese>
				staff_logintry = #{member_logintry } + 1
			</otherwiese>
		</choose>
	</update>
	 -->
	
	<select id="findEmail" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM staff
		WHERE staff_email = #{email }
	</select>
	
	<update id="saveTempnum" parameterType="StaffDTO">
		UPDATE staff
		SET staff_tempnum = #{staff_tempnum }
		WHERE staff_email = #{staff_email }
	</update>
	
	<select id="checkTempnum" parameterType="StaffDTO" resultType="Integer">
		SELECT COUNT(*)
		FROM staff
		WHERE 
		staff_email = #{staff_email } AND staff_tempnum = #{staff_tempnum }
	</select>
	
	<update id="newpwSet" parameterType="StaffDTO">
		UPDATE staff
		SET 
		staff_pw = #{staff_pw },
		staff_tempnum = null	
		WHERE staff_email = #{staff_email }
	</update>
		<!-- member_pw = HEX(AES_ENCRYPT((#{member_pw }), SHA2('apple', 256))), -->
	
	<insert id="join" parameterType="StaffDTO">
		INSERT INTO staff
		SET
		staff_id = #{staff_id },
		staff_pw = #{staff_pw },
		staff_name = #{staff_name },
		staff_birth = #{staff_birth },
		staff_tel = #{staff_tel },
		staff_email = #{staff_email },
		staff_addr = #{staff_addr },
		staff_grade = #{staff_grade }
	</insert>
	
	<select id="idCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM staff
		WHERE staff_id = #{id }
	</select>
	
	<select id="emailCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM staff
		WHERE staff_email = #{email }
	</select>
	
	<select id="profile" parameterType="HashMap" resultType="HashMap">
		SELECT *
		FROM staff
		WHERE staff_id = #{sessionID }	
	</select>
	
	<select id="pwCheck" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(*)
		FROM staff
		WHERE staff_id = #{sessionID } AND staff_pw = #{pw }
	
	</select>
	
	<update id="editProfile" parameterType="HashMap">
		UPDATE staff
		SET
		staff_pw = #{pw },
		staff_name = #{name },
		staff_tel = #{tel },
		staff_addr = #{addr }
		WHERE staff_id = #{sessionID }
	</update>
	

	
</mapper>